/web/bundles/
/web/css/
/web/js/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/nbproject/

/web/upload/images/*
!/web/upload/images/.htaccess

/web/upload/pdf/*
!/web/upload/pdf/.htaccess

/web/upload/filemanager/*
!/web/upload/filemanager/.htaccess

/web/upload/filemanager_thumbs/*
!/web/upload/filemanager_thumbs/.htaccess
