{% extends "StalkUserBundle:Resetting:request.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="alert alert-success" role="alert">
        <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>
        
{% endblock fos_user_content %}
