<!-- Modal -->
<div class="modal" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
    
    <div class="modal-dialog">
        
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="paymentModalLabel">Шаг 1: Способ оплаты</h4>
            </div>
            
            <div class="modal-body">
                {{form_row(form.paymentMethod)}}
                {{form_row(form.payment)}}
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary contactModal">Шаг 2: Контактная информация <span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
            
        </div>
            
    </div>
        
</div>