<!-- Modal -->
<div class="modal" id="successfulModal" tabindex="-1" role="dialog" aria-labelledby="successfulModalLabel" aria-hidden="true">
    
    <div class="modal-dialog modal-sm">
        
        <div class="modal-content">    
            
            <div class="modal-body" style="text-align:center;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="clear"></div>
                <strong class="text-success">Спасибо,Ваш запрос отправлен.</strong>
                <strong class="text-success">Менеджер SugarTalk свяжется с Вами в ближайщее время.</strong>
            </div>
            
        </div>
            
    </div>
        
</div>